.itemContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}
.itemContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
