.tabNavigator-root {
    
}

.tab-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    -webkit-box-shadow: 0px 6px 33px -11px rgba(0,0,0,0.73); 
    box-shadow: 0px 6px 33px -11px rgba(0,0,0,0.73);
}

.link {
    margin: 0px 20px;
}
