.msg-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 10px 0px;
}

.msg-span {
    text-align: center;
}

.all-items-bottom-container {

}
