.msg-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.msg-span {
    text-align: center;
}

.list-item-container {
    /* display: inline-grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 10px; */
}
