.item-creator-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.labels {
    font-weight: bold;
}

.error-msg {
    color: red;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 5px 0px;
}

.add-item-btn {
    margin: 10px 0px;
    background: transparent;
    border: blue solid 1px;
    color: blue;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.add-item-btn:hover {
    background: blue;
    color: white;
    transition: background-color 0.5s ease;
}

@media only screen and (max-width: 786px) {
    .item-creator-container {
        padding: 0px 10px;
    }
    .inputs {
        width: 100%;
    }
}
