.item-creator-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
    margin: auto;
    margin-top: 10px;
}

.labels {
    font-weight: bold;
    align-self: flex-start;
}

.inputs {
    width: 100%;
}

.error-msg {
    color: red;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 5px 0px;
}


@media only screen and (max-width: 786px) {
    .item-creator-container {
        padding: 0px 10px;
        width: 95%;
    }
    .inputs {
        width: 100%;
    }
}
