.item-creator-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.labels {
    font-weight: bold;
}

@media only screen and (max-width: 786px) {
    .inputs {
        width: 100%;
    }
}
